.button-container {
	display: flex;
	justify-content: center;
	margin: 15px auto 0;
	font-size: 12px;
}

.button-container .record-button {
	display: flex;
	border: none;
	background: transparent;
	cursor: pointer;
}

.video-recording-container {
	z-index: 2;
}

.button-container .stop-button {
	display: flex;
	border: none;
	background: transparent;
	cursor: pointer;
	border: 1px solid #e85775;
	border-radius: 50%;
	padding: 16px;
	margin: 1px 6px;
}

.button-container .stop-button svg {
	width: 12px;
	height: 12px;
}
