/* responsiveness */

body {
  height: 100vh;
}

#sharestories {
  height: 100%;
}

#fk-preview-testimonial-screen .video {
  z-index: 100;
}
#fk-preview-testimonial-screen .edit-testimonial {
  z-index: 101;
}

#fk-preview-testimonial-screen .play-button {
  z-index: 101;
}

#fk-home-screen {
  margin-bottom: 100px;
}

#fk-footer {
  position: absolute;
  bottom: 25px;
  right: 15px;
}

#fk-page-wrapper {
  height: 100%;
  /* height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}
#fk-record-screen .timer {
  margin: 110px 0px 15px;
}

#fk-recorder-container .recording-button .play-icon g g {
  stroke: rgb(53, 164, 255);
}

#fk-recorder-container .recording-button .play-icon g #Ellipse_2 {
  fill: #ff0000;
}

#fk-recorder-container .stop-recording-button .stop-icon #Rectangle_20 {
  fill: #ff0000;
}

#fk-record-screen .recorder-container .stop-recording-button {
  border: 2px solid #35a4ff;
}

#fk-widget-wrapper {
  height: 72vh;
}

#fk-record-screen {
  z-index: 10;
}

#fk-preview-testimonial-screen {
  height: 100%;
}

#fk-record-screen .audio-wrapper {
  height: 56vh;
}

#fk-record-screen .record-visualizer {
  max-height: 170px;
  top: 2.5%;
}

#fk-preview-testimonial-screen .audio-card {
  height: 160px;
}

#fk-preview-testimonial-screen .audio-wrapper {
  margin: 30px 0 0px;
}

#fk-preview-testimonial-screen .approve-button {
  border: 2px solid rgb(38 111 255);
  background-color: #fff;
}

#fk-preview-testimonial-screen .approve-button.button-clicked {
  background-color: rgb(38 111 255);
}

#fk-preview-testimonial-screen .approve-button.button-clicked svg path {
  fill: #fff;
}

#fk-preview-testimonial-screen .approve-button svg {
  height: 15px;
  width: 15px;
}

#fk-preview-testimonial-screen .approve-button svg path {
  fill: rgb(41 113 255);
}

#fk-client-details-wrapper input {
  width: 85%;
  margin-right: 5px;
}

#fk-preview-testimonial-screen .button-wrapper {
  width: unset;
}

#fk-preview-testimonial-screen .client-details-wrapper {
  display: flex;
  align-items: center;
}

#fk-preview-testimonial-screen .video-wrapper {
  height: 50vh;
}

#fk-client-details-wrapper .client-name-wrapper {
  width: 100%;
  margin-right: 10px;
}

#fk-client-details-wrapper .client-name-wrapper svg path {
  fill: #5089ed;
}

#fk-client-details-wrapper span {
  display: flex;
}

#fk-client-details-wrapper span svg {
  height: 24px;
  width: 15px;
}

@media (min-width: 1920px) {
  #fk-video-recorder-wrapper .video-wrapper {
    height: 55vh;
  }

  #fk-video-recorder-wrapper .video-wrapper video {
    height: 55vh;
  }
}

@media (max-width: 1600px) {
  #fk-header {
    padding: 8px;
  }

  #fk-widget-wrapper {
    box-shadow: rgb(189 177 177) 1px 5px 18px;
    /* min-height: 100%; */
  }
  .bevi-layout #fk-header .main-logo {
    margin: 0px 0px 5px;
  }

  #fk-home-screen {
    margin-bottom: 70px;
  }
  #fk-footer {
    margin-bottom: 10px;
    bottom: 15px;
    right: 15px;
  }

  #fk-footer img {
    height: 30px;
  }

  #fk-home-screen {
    grid-gap: 20px;
  }

  #fk-client-details-wrapper input {
    padding: 5px 15px;
    font-size: 14px;
  }

  #fk-thankyou-screen .icon-button img {
    height: 50px;
  }

  #fk-thankyou-screen .description {
    font-size: 18px;
  }

  #fk-thankyou-screen {
    min-height: 400px;
  }

  #fk-thankyou-screen .tweet-button {
    height: 40px;
    width: 168px;
    font-size: 15px;
  }

  #fk-thankyou-screen .text-area {
    height: 60px;
  }

  #fk-thankyou-screen .twitter-icon {
    height: 40px;
  }

  #fk-record-screen .mic-wrapper {
    margin-top: 50px;
  }

  #fk-record-screen .timer {
    margin: 63px 0px 15px;
  }

  #fk-video-recorder-wrapper .video-wrapper {
    height: 55vh;
  }

  #fk-video-recorder-wrapper video {
    height: 55vh;
  }
}

@media (max-width: 768px) {
  #fk-record-screen .record-visualizer {
    top: 1.5%;
  }

  #fk-home-screen {
    margin-bottom: 55px;
  }

  #fk-home-screen .description {
    font-size: 18px;
  }

  #fk-record-screen .heading {
    font-size: 18px;
  }

  #fk-preview-testimonial-screen .heading {
    font-size: 18px;
  }

  #fk-footer {
    right: 10px;
    bottom: 1px;
  }

  #fk-home-screen {
    grid-gap: 9px;
  }

  #fk-video-recorder-wrapper .video-wrapper {
    height: 55vh;
  }

  #fk-video-recorder-wrapper .video-wrapper video {
    height: 55vh;
  }

  #fk-footer img {
    height: 30px;
  }

  #fk-widget-wrapper {
    padding: 15px;
  }

  #fk-preview-testimonial-screen .video-wrapper {
    height: 50vh;
  }

  #fk-thankyou-screen .tweet-button {
    height: 40px;
    width: 148px;
    font-size: 12px;
  }

  #fk-question-card .questions {
    font-size: 12px;
  }

  #fk-sound-wave {
    width: 300px !important;
  }

  #fk-record-screen .mic-wrapper {
    margin-top: 45px;
  }

  #fk-page-wrapper .background-image {
    /* display: none; */
    height: 100%;
  }
}

@media (min-width: 375px) and (max-width: 416px) {
  #fk-card-wrapper img {
    height: 50px;
  }
  #fk-widget-wrapper {
    height: 64vh;
  }
  #fk-video-recorder-wrapper .video-wrapper {
    height: 48vh;
  }

  #fk-video-recorder-wrapper .video-wrapper video {
    height: 48vh;
  }

  #fk-preview-testimonial-screen .video-wrapper {
    height: 42vh;
  }

  #fk-record-screen .mic-wrapper {
    margin-top: 60px;
  }

  #fk-record-screen .record-visualizer {
    top: 5%;
  }
}

@media (min-width: 400px) and (max-width: 420px) {
  #fk-widget-wrapper {
    height: 66vh;
  }
  #fk-video-recorder-wrapper .video-wrapper {
    height: 53vh;
  }

  #fk-video-recorder-wrapper .video-wrapper video {
    height: 53vh;
  }

  #fk-preview-testimonial-screen .video-wrapper {
    height: 45vh;
  }

  #fk-record-screen .mic-wrapper {
    margin-top: 60px;
  }

  #fk-record-screen .record-visualizer {
    top: 5%;
  }
}

@media (max-width: 320px) {
  #fk-widget-wrapper {
    height: 73vh;
  }

  #fk-footer img {
    height: 20px;
  }

  #fk-card-wrapper img {
    height: 35px;
  }

  #fk-preview-testimonial-screen .video-wrapper {
    height: 45vh;
  }
}
