/* responsiveness */

#fk-record-screen .timer {
  margin: 110px 0px 15px;
}

#fk-recorder-container .recording-button .play-icon g g {
  stroke: rgb(53, 164, 255);
}

#fk-recorder-container .recording-button .play-icon g #Ellipse_2 {
  fill: #ff0000;
}

#fk-recorder-container .stop-recording-button .stop-icon #Rectangle_20 {
  fill: #ff0000;
}

#fk-record-screen .recorder-container .stop-recording-button {
  border: 2px solid #35a4ff;
}
@media (max-width: 1600px) {
  #fk-header {
    padding: 8px;
  }

  #fk-widget-wrapper {
    box-shadow: rgb(189 177 177) 1px 5px 18px;
    min-height: 100%;
  }
  .bevi-layout #fk-header .main-logo {
    margin: 0px 0px 5px;
  }

  #fk-footer img {
    height: 30px;
  }

  #fk-video-recorder-wrapper .video-wrapper {
    height: 320px;
  }

  #fk-video-recorder-wrapper .video-wrapper video {
    height: 320px;
  }

  #fk-home-screen {
    grid-gap: 20px;
  }

  #fk-preview-testimonial-screen .video-wrapper {
    height: 208px;
  }

  #fk-client-details-wrapper input {
    padding: 5px 15px;
    font-size: 14px;
  }

  #fk-preview-testimonial-screen .approve-button {
    width: 135px;
    height: 40px;
  }

  #fk-thankyou-screen .icon-button img {
    height: 50px;
  }

  #fk-thankyou-screen .description {
    font-size: 18px;
  }

  #fk-thankyou-screen {
    min-height: 400px;
  }

  #fk-thankyou-screen .tweet-button {
    height: 40px;
    width: 168px;
    font-size: 15px;
  }

  #fk-thankyou-screen .text-area {
    height: 60px;
  }

  #fk-thankyou-screen .twitter-icon {
    height: 40px;
  }

  #fk-record-screen .audio-wrapper {
    min-height: 380px;
  }

  #fk-record-screen .mic-wrapper {
    margin-top: 50px;
  }

  #fk-record-screen .record-visualizer {
    top: -8%;
  }
}

@media (max-width: 768px) {
  #fk-home-screen .description {
    font-size: 18px;
  }

  #fk-record-screen .heading {
    font-size: 18px;
  }

  #fk-preview-testimonial-screen .heading {
    font-size: 18px;
  }

  #fk-footer {
    margin-top: 10px;
  }

  #fk-home-screen {
    grid-gap: 9px;
  }

  #fk-video-recorder-wrapper .video-wrapper {
    height: 280px;
  }

  #fk-video-recorder-wrapper .video-wrapper video {
    height: 280px;
  }

  #fk-footer img {
    height: 25px;
  }

  #fk-widget-wrapper {
    min-height: 455px;
    height: unset;
  }

  #fk-preview-testimonial-screen .approve-button {
    width: 95px;
    height: 31px;
    font-size: 11px;
  }

  #fk-preview-testimonial-screen .video-wrapper {
    height: 220px;
  }

  #fk-thankyou-screen .tweet-button {
    height: 40px;
    width: 148px;
    font-size: 12px;
  }

  #fk-question-card .questions {
    font-size: 12px;
  }

  #fk-widget-wrapper .audio-preview-screen {
    height: 400px;
  }

  #fk-sound-wave {
    width: 300px !important;
  }

  #fk-record-screen .mic-wrapper {
    margin-top: 75px;
  }

  #fk-record-screen .record-visualizer {
    top: -1%;
  }
}
