.notification-wrapper {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.notification-wrapper .description {
  font-size: 16px;
  font-weight: normal;
  color: #828282;
}

.notification-wrapper .button {
  padding: 8px 22px;
  border-radius: 18px;
  color: #35a4ff;
  border: 1px solid #35a4ff;
}

.notification-wrapper .button:first-child {
  margin-right: 10px;
}

.notification-wrapper .button .selected {
  background-color: #35a4ff;
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}
