@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  background-image: url("./assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 650px;
  background-color: #fff;
  width: 335px;
  border-radius: 5px;
  padding: 28px;
}

@media  (max-width: 425px) {
  .widget-wrapper {
    height: 550px;
  }
}
