@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  margin: 0;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

.not-supported-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.not-supported-text {
  background: #ffd000;
  padding: 5px 20px;
  margin: 0;
  text-align: center;
}
