.home-screen {
  display: grid;
  grid-row-gap: 30px;
  z-index: 1;
  height: 100%;
}

.home-screen .description {
  font-size: 25px;
  font-weight: 500;
  color: #000;
  max-width: 305px;
  margin: 0;
  text-align: center;
}
