.home-screen {
  display: grid;
  grid-row-gap: 30px;
  z-index: 1;
  height: 100%;
  animation: pulse 1s linear;
}

.home-screen .description {
  font-size: 25px;
  font-weight: 500;
  color: #000;
  max-width: 400px;
  margin: 0;
  text-align: center;
  line-height: 1.26;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opcaity: 1;
  }
}
