.record-screen {
  width: 100%;
}

.record-screen .video {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 8px;

  object-fit: cover;
}

.record-screen .video-wrapper:after {
  position: absolute;
  content: "";
  background-image: linear-gradient(to bottom, rgba(32, 42, 98, 0), #1a1e33);
  left: 0;
  right: 0;
  height: 200px;
  bottom: 0;
  border-radius: 8px;
}

.record-screen .video-wrapper {
  position: relative;
  height: 524px;
  margin: 15px 0 0;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
}

.record-screen .audio-wrapper:after {
  position: absolute;
  content: "";
  background-image: linear-gradient(to bottom, rgba(32, 42, 98, 0), #1a1e33);
  left: 0;
  right: 0;
  height: 200px;
  bottom: 0;
  border-radius: 8px;
}

.record-screen .audio-wrapper {
  position: relative;
  height: 524px;
  margin: 15px 0 0;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
}

.record-screen .testimonial-questions-wrapper {
  position: absolute;
  bottom: 5px;
  z-index: 1;
  width: 100%;
}

.record-screen .heading {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: normal;
  margin-top: 0;
}

.record-screen .mic-icon path {
  fill: #fff;
}

.record-screen .mic-wrapper {
  background: #e85757;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-screen .audio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.record-screen .timer {
  margin: 15px 0;
}
