.thankyou-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.thankyou-screen .heading {
  font-size: 27px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.thankyou-screen .description {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.28;
  text-align: center;
  color: #828282;
  margin-top: 0;
}

.thankyou-screen .back-button {
  font-size: 14px;
  cursor: pointer;
  color: #35a4ff;
}

.button-wrapper {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.icon-button {
  background-color: #35a4ff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 3px;
  border-radius: 50%;
  padding: 4px 5px 0;
  height: fit-content;
}

.back-button svg {
  width: 20px;
  height: 20px;
}

.tweet-container {
  margin-top: 25px;
}

.text-area {
  height: 50px;
  width: 97%;
  margin-top: 10px;
  resize: none;
  font-family: "Poppins";
}

.tweet-button {
  font-family: "Poppins", sans-serif;
  background-color: #35a4ff;
  color: #fff;
  border-radius: 18px;
  padding: 6px 18px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 3px;
}

.success {
  color: green;
  font-size: 14px;
  margin-top: 25px;
}
