body {
  /* background-image: url("/testimonials/olympics/background.png");
  background-repeat: no-repeat;
  background-position: center; */
}

#fk-page-wrapper .background-image {
  object-fit: cover;
}

#fk-header {
  padding: 0;
}

#fk-header .main-logo {
  z-index: 1;
  height: 60px;
  margin: 0 0 10px 0;
}

#fk-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#fk-widget-wrapper {
  background-color: #fff;
  border: none;
  box-shadow: rgb(189 177 177) 1px 1px 5px;
  height: 76vh;
  border: 1px solid #ccc;
}

#fk-widget-wrapper .widget-bg {
  display: none;
}

#fk-home-screen {
  animation: none;
  width: 100%;
}

#fk-video-recorder-wrapper .video-wrapper {
  height: 62vh;
}

#fk-video-recorder-wrapper .video-wrapper video {
  height: 62vh;
}

#fk-record-screen .heading {
  font-size: 22px;
}

#fk-home-screen .description {
  font-size: 22px;
  max-width: 250px;
  margin: auto;
}

#fk-preview-testimonial-screen {
  height: 100%;
}

#fk-preview-testimonial-screen .heading {
  font-size: 22px;
}

#fk-preview-testimonial-screen .video-wrapper {
  height: 56vh;
}

#fk-preview-testimonial-screen .video-wrapper video {
  height: 56vh;
}

#fk-client-details-wrapper input {
  padding: 5px 10px;
  box-shadow: rgb(189 177 177) 1px 1px 5px;
}

#fk-client-details-wrapper .approve-button {
  font-size: 14px;
  background-color: #1a2b61;
}

#fk-thankyou-screen .description {
  font-size: 16px;
  font-weight: normal;
}

#fk-card-wrapper .card-description {
  font-weight: 500;
}

#fk-thankyou-screen .tweet-container {
  display: grid;
  width: 100%;
}

#fk-thankyou-screen .tweet-button {
  width: 150px;
  margin: auto;
  font-size: 20px;
}

@media (max-width: 425px) {
  #fk-question-card .questions {
    font-size: 14px;
  }

  #fk-widget-wrapper .timer {
    margin: 40px 0 15px;
  }
}

@media (max-width: 325px) {
  #fk-widget-wrapper {
    height: 65vh;
    width: unset;
  }

  #fk-card-wrapper img {
    width: 31px;
    height: 42px;
  }

  #fk-record-screen .heading {
    font-size: 20px;
  }

  #fk-preview-testimonial-screen .heading {
    font-size: 20px;
  }

  #fk-question-card .questions {
    font-size: 14px;
  }

  #fk-record-screen .mic-wrapper {
    margin-top: 55px;
  }

  #fk-recorder-container .record-visualizer {
    top: 0%;
    left: unset;
    right: 8px;
    height: 200px;
  }

  #fk-widget-wrapper .timer {
    z-index: 18;
    margin: 23px 0 15px;
  }

  #fk-video-recorder-wrapper .video-wrapper video {
    height: 49vh;
  }

  #fk-video-recorder-wrapper .video-wrapper {
    height: 49vh;
  }

  #fk-recorder-container .recording-button svg {
    height: 20px;
    width: 20px;
  }

  #fk-recorder-container .stop-recording-button svg {
    height: 20px;
  }

  #fk-preview-testimonial-screen .video-wrapper {
    height: 42vh;
  }

  #fk-preview-testimonial-screen .video-wrapper video {
    height: 42vh;
  }
}
