.question-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.question-card .questions {
	width: 200px;
	text-align: center;
	line-height: 1.5;
	color: #fff;
	margin-bottom: 0;
}

.question-card .question-button {
	background: none;
	outline: none;
	border: none;
	color: #35a4ff;
	font-size: 14px;
	cursor: pointer;
	padding: 10px;
}

.question-card .disabled {
	color: #7e7e7e;
	cursor: default;
}

.question-card .question-buttons-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
