.preview-testimonial-screen {
  position: relative;
  width: 100%;
}

.audio-preview-screen {
  height: 100%;
}

.preview-testimonial-screen .heading {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
}

.preview-testimonial-screen .video-wrapper {
  position: relative;
  margin: 15px 0 0;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  height: 325px;
}

.preview-testimonial-screen .play-button {
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 45%;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  transform: translate(5px, 0px);
}

.preview-testimonial-screen .video {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.preview-testimonial-screen .edit-testimonial {
  position: absolute;
  right: 5px;
  z-index: 1;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #0000009e;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.preview-testimonial-screen .edit-testimonial > svg {
  width: 10px;
  height: 10px;
}

.preview-testimonial-screen .approve-button {
  font-family: "Poppins", sans-serif;
  background-color: #35a4ff;
  color: #fff;
  border-radius: 18px;
  padding: 8px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 3px;
}

.preview-testimonial-screen .button-wrapper {
  width: 100%;
  margin-top: 10px;
}

.preview-testimonial-screen .hide-icon {
  display: none;
}

.preview-testimonial-screen audio::-webkit-media-controls-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* We use flex-start here to ensure that the play button is visible even
   * if we are too small to show all controls.
   */
  justify-content: flex-start;
  -webkit-user-select: none;
  position: relative;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  text-align: right;
  bottom: auto;
  height: 30px;
  background-color: #35a4ff;
  color: #fff;
  border-radius: 5px;
  /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
  transition: opacity 0.3s;
}

.preview-testimonial-screen audio {
  width: 100%;
  height: 30px;
  color: #fff;
  margin: 30px 0 28px 0;
}

.preview-testimonial-screen .audio-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
  background: #35a4ff;
  border-radius: 25px;
  padding: 0 15px;
  margin: 30px 0;
  height: 30px;
}

.preview-testimonial-screen .preview-audio-canvas {
  display: block;
  position: absolute;
  left: -26px;
  right: -52px;
  bottom: -28px;
  width: 389px;
}

.preview-testimonial-screen .audio-edit-button {
  display: flex;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

/* .preview-testimonial-screen .edit-icon {
	position: absolute;
}

.preview-testimonial-screen .edit-icon path {
	fill: #000;
}

.preview-testimonial-screen .audio-edit-button {
	cursor: pointer;
	border: none;
	outline: none;

	background: #35a4ff;
	height: 30px;
	border-radius: 0 20px 20px 0;
	width: 53px;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 14px;
	position: relative;
	padding: 0;
	margin: 0;
	top: 1px;
} */

.preview-testimonial-screen .video-retake-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-area {
  height: 50px;
  width: 97%;
  margin-top: 10px;
  resize: none;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.preview-testimonial-screen .share-button {
  border-radius: 50%;
  padding: 4px 5px;
  padding-bottom: 0;
  height: fit-content;
}

.error {
  color: red;
  font-size: 14px;
}

@media (max-width: 768px) {
  .preview-testimonial-screen .video-wrapper {
    height: 325px;
  }
}
