.preview-testimonial-sreen .heading {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: normal;
  margin-top: 0;
}

.preview-testimonial-sreen .video-wrapper {
  position: relative;
  margin: 15px 0 0;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  height: 412px;

}

.preview-testimonial-sreen .play-button  {
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 45%;
  background-color: transparent;
  cursor: pointer;
  transform: translate(10px, 0px);
}

.preview-testimonial-sreen .video {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.preview-testimonial-sreen .edit-testimonial {
  position: absolute;
  right: 5px;
  z-index: 1;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #0000009e;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.preview-testimonial-sreen .edit-testimonial > svg path {
  fill: #fff;
}

.preview-testimonial-sreen .edit-testimonial > svg {
  width: 10px;
  height: 10px;
}

.preview-testimonial-sreen .approve-button{
    background-color: #35a4ff;
    color: #fff;
    border-radius: 18px;
    padding: 8px 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.preview-testimonial-sreen .button-wrapper{
    width: 100%;
    margin-top: 25px;
}

.preview-testimonial-sreen .hide-icon{
  display: none;
}