body {
  background-image: url("/sharestories/olympics/background.png");
  background-repeat: no-repeat;
  background-position: center;
}

#fk-widget-wrapper {
  background-color: #2f438a;
}

#fk-widget-wrapper .description {
  color: #fff;
}

#fk-widget-wrapper .card-description {
  color: #fff;
}

#fk-main-container .heading {
  color: #fff;
}

#fk-main-container .video-timer {
  color: #fff;
}
