body {
  background-image: url("/sharestories/olympics/background.png");
  background-repeat: no-repeat;
  background-position: center;
}

#fk-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#fk-widget-wrapper {
  background-color: #fff;
  border: none;
  box-shadow: none;
}

#fk-home-screen {
  animation: none;
}

#fk-video-recorder-wrapper .video-wrapper {
  height: 52vh;
}

#fk-video-recorder-wrapper .video-wrapper video {
  height: 52vh;
}

#fk-record-screen .heading {
  font-size: 22px;
}

#fk-home-screen .description {
  font-size: 22px;
}

#fk-preview-testimonial-screen {
  height: 100%;
}

#fk-preview-testimonial-screen .heading {
  font-size: 22px;
}

#fk-preview-testimonial-screen .video-wrapper {
  height: 33vh;
}

#fk-preview-testimonial-screen .video-wrapper video {
  height: 33vh;
}

#fk-client-details-wrapper input {
  padding: 5px;
}

#fk-client-details-wrapper .approve-button {
  font-size: 14px;
  background-color: #1a2b61;
}

#fk-thankyou-screen .description {
  font-size: 16px;
  font-weight: normal;
}

#fk-record-screen .mic-wrapper {
  background-color: #ec2222;
}

#fk-preview-testimonial-screen .audio-card {
  background-color: transparent;
  height: unset;
  padding: unset;
}

#fk-preview-testimonial-screen .audio-card .audio-wrapper {
  background: #4dbbe5;
  padding: 0px 5px;
  align-items: center;
  margin: 0;
}
#fk-preview-testimonial-screen .audio-card .mic-icon {
  display: none;
}
