.notification-wrapper {
}

.react-responsive-modal-modal .description {
  font-size: 16px;
  font-weight: normal;
  color: #828282;
  line-height: 1.25;
  text-align: center;
  margin: 30px 0;
}

.notification-wrapper .button {
  padding: 8px 22px;
  border-radius: 18px;
  color: #35a4ff;
  border: 1px solid #35a4ff;
}

.notification-wrapper .button:first-child {
  margin-right: 10px;
}

.notification-wrapper .button .selected {
  background-color: #35a4ff;
}

.react-responsive-modal-modal {
  max-width: 290px;
  width: 100%;
  border-radius: 5px;
}

.react-responsive-modal-closeButton {
  outline: none;
}

.react-responsive-modal-closeButton svg {
  fill: #35a4ff;
  height: 18px;
}

@media (max-width: 375px) {
  .react-responsive-modal-modal {
    max-width: 200px;
  }

  .react-responsive-modal-modal .description {
    font-size: 14px;
    margin: 20px 0;
  }
}
