.recorder-container {
  z-index: 10;
}

.recorder-container .recording-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.recorder-container .pause-icon {
  width: 9px;
}

.recorder-container .play-icon {
  width: 36px;
  height: 36px;
}

.recorder-container .play-icon path {
  fill:#FF0000;
}

.recorder-container .stop-recording-button {
  background-color: transparent;
  border: 2px solid #35A4FF;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.recorder-container .stop-icon {
  width: 9px;
  height: 9px;
}

.recorder-container .stop-icon path {
  fill: #FF0000;
}

.recorder-container .buttons-wrapper {
  display: flex;
  column-gap: 7px;
  width: 100%;
  justify-content: center;
  font-size: 12px;
}
