.recorder-container {
  z-index: 1;
}

.recorder-container .recording-button {
  background-color: transparent;
  border: 1px solid #e85757;
  border-radius: 50%;
  padding: 6px 10px;
  margin-right: 7px;
  cursor: pointer;
}

.recorder-container .play-icon {
    transform: translate(1px,2px);
    width: 9px;
}

.recorder-container .play-icon path {
  fill: #e85775;
}

.recorder-container .stop-icon path {
  fill: #e85775;
}

.recorder-container .buttons-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

